@media screen and (max-width: 768px) {
    .testimonials {
      max-height: 700px;
    }
    .icon-overlay {
      height: 300px;
      top: calc(50% - 150px);
    }
    .carousel-controls .control {
      width: 25px;
      height: 25px;
      top: inherit;
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
    .control i {
      font-size: .7rem;
    }
    .testimonials .message {
      font-size: 1rem;
    }
    .testimonials h2 {
      font-size: 1.5rem;
    }
    .aboutpage-title {
      position: relative;
      font-size: 19px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      text-align: center;
      line-height: 70px;
    }
    a.navbar-brand > img {
      width: 120px !important;
      height: auto;
    }
    .about_title {
      font-size: 19px;
      margin-bottom: 30px;
      position: relative;
      padding: 0px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 400;
      color: #323232;
      letter-spacing: 5px;
      text-align: center;
      font-family: Lato;
    }
    .team_title {
      font-size: 19px;
      margin-bottom: 30px;
      position: relative;
      padding: 0px;
      background: transparent;
      text-transform: uppercase;
      font-weight: 400;
      color: #323232;
      letter-spacing: 0.4px;
      text-align: center;
  
    }
  }


  @media screen and (max-width:1600px){
    section.event_Container{
        background: #f4f4f4 !important;
    }
    div.event_leftHidden{
        display: none;
    }
    div.col-md-7.col-sm-12.col-12{
        max-width: 100% !important;
        width: 100% !important;
    }
    .col-sm-7.col-12.paddingTopCls{
        width: 100% !important;
        max-width: 100% !important;
    }
  }